.banner {
  width: 100%;
  min-height: 100vh;
  color: #fff;
  display: grid;
  justify-content: flex-start;
  align-content: center;
  user-select: none;

  &-logo {
    width: 250px;
  }

  .info {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-size: 1.5rem;
    margin: 1rem 0;
    color: #f35626;
    background-image: linear-gradient(92deg, #f35626 0%,#feab3a 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .title {
    background-color: #fff;
    color: var(--primary);
    width: max-content;
    margin: 2rem 0;
    font-size: 15vmin;

    color: #f35626;
    background-image: linear-gradient(92deg, #f35626 0%,#feab3a 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.17;
    letter-spacing: 1.7px;
  }
  .extract {
    font-size: 28px;
    line-height: 1.67;
    margin: 0;
  }
}
